= semantic_form_for @comment, :url => main_app.polymorphic_path(@comment) do |form|
    = form.input :user_id, :as => :hidden, :value => current_user.id if current_user
    = form.input :commentable_id, :as => :hidden
    = form.input :commentable_type, :as => :hidden, :value => :Post
    = form.input :content, :input_html => {:rows => 6, :cols => 40}
    = form.submit
    
