#current_content_wrapper
  #search_form
    = form_tag(main_app.search_path, :method => :get) do 
      = text_field_tag(:search) 
      = submit_tag(t("search.title")) 
  .results_item
    %h2= t("search.posts")
    %ul
      - if @posts.length == 0
        %li= t('search.postsnothing')
      - else
        = render "posts/posts_list", :posts => @posts
  .results_item
    %h2= t("search.events")
    %ul
      - if @events.length == 0
        %li= t('search.eventsnothing')
      - else
        = render "events/events_list"
