= render "side_bar"
#current_content
  .results_item
    %h2= t("search.posts")
    %ul
      - if @posts.length == 0
        %li= t('search.postsnothing')
      - else 
        - @posts.each do |post|
          %li= link_to post.title, main_app.post_path(post)
  .results_item
    %h2= t("search.events")
    %ul
      - if @events.length == 0
        %li= t('search.eventsnothing')
      - else 
        - @events.each do |event|
          %li= link_to event.title, main_app.event_path(event)
