=render "sidebar"
#current_content
  %table{:width => "60%"}
    %tr
      %td= t("user.name")
      %td= @user.firstname + " " + @user.lastname
    %tr
      %td= t("user.nickname")
      %td= @user.nickname
    %tr
      %td= t("user.birthdate")
      %td= @user.birthdate.to_s
    %tr
      %td= t("user.address")
      %td= @user.address
    %tr
      %td= t("user.city")
      %td= @user.city
    %tr
      %td= t("user.country")
      %td= @user.country
    %tr
      %td= t("user.role")
      %td= @user.role.name
    %tr
      %td
      %td.edit_link= link_to t("user.edit"), main_app.edit_user_path(@user)
.clear