%h2= t("account.forgot_password")
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %p
    = f.label :email, t("account.email")
    %br/
    = f.email_field :email, :class => "input_field"
  %p= f.submit t("account.send_me_password")
  
= render :partial => "devise/shared/links"
