.latest{:style => "border-top:1px dotted #888888;"}
  %span{:class => "latest-title"} Events
  .powered_by
    = link_to "This newsletter is powered by", "http://www.secondbureau.com"
    = link_to image_tag("https://www.google.com/a/secondbureau.com/images/logo.gif", :style => "vertical-align:middle;border:none;margin:0 10px;", :width => 143, :height => 59), "http://www.secondbureau.com"
- @events.each do |event|
  .element
    .post_title
      - $link = url_for(:controller => "events", :action => "show", :id => event.id, :locale => "en", :only_path => false) + "?auth_token=" + @user.authentication_token
      = link_to event.title, $link
      .date-event
        %span
          - if !event.end_date
            = event.created_at.strftime("%d %B %Y")
          - else
            = "#{event.start_date.strftime("%d %B %Y")} ~ #{event.end_date.strftime("%d %B %Y")}"
    .clear{:style => "clear:both;"}
    .post_content
      = raw(truncate(strip_tags(event.content), :length => 400, :omission => '...'))
    .clear{:style => "clear:both;"}