%div{:style => "padding:0px;border-bottom: 1px dotted #888888; background:#EEEEEE;height:60px;"}
  %span{:style => "float:left;font-size: 26px;line-height:60px;margin:0px 0px 0px 10px;"} Articles
  .powered_by{:style => "float:right;padding: 5px; text-align:right;font-size:13px;"}
    = link_to "This newsletter is powered by", "http://www.secondbureau.com"
    = link_to image_tag("https://www.google.com/a/secondbureau.com/images/logo.gif", :style => "vertical-align:middle;border:none;margin:0 10px;", :width => 143, :height => 59), "http://www.secondbureau.com"
- @posts.each do |post|
  %div{:style => "padding:20px 10px 10px;clear:both;"}
    .post_title{:style => "font-size:20px;"}
      - $link = main_app.post_url(:permalink => post.permalink, :locale => "en") + "?auth_token=" + @user.authentication_token
      = link_to post.title, $link
      %span{:style => "font-size:12px; color:#000;background:#EEE"}= post.created_at.strftime("%d %B %Y")
    .clear{:style => "clear:both;"}
    .post_content{:style => "font-size:12px; line-height:20px; color:#222;"}
      -#= image_tag("https://www.google.com/a/secondbureau.com/images/logo.gif", :width => 150, :style => "float:left; margin:0px 10px 10px 0px;")
      = raw(truncate(strip_tags(post.content), :length => 400, :omission => '...'))
    .clear{:style => "clear:both;"}
