.latest
  %span{:class => "latest-title"} Articles
  .powered_by
    = link_to t("newsletter.powered_by"), "http://www.secondbureau.com"
    = link_to image_tag("https://www.google.com/a/secondbureau.com/images/logo.gif", :style => "vertical-align:middle;border:none;margin:0 10px;", :width => 143, :height => 59), "http://www.secondbureau.com"
- @posts.each do |post|
  .element
    .post_title
      - $link = main_app.post_url(:permalink => post.permalink) + "?auth_token=" + @user.authentication_token
      = link_to post.title, $link
      .date-article
        %span
          = I18n.l(post.created_at, :format => "%e %B %Y")
    .clear{:style => "clear:both;"}
    .post_content
      = raw(truncate(strip_tags(post.content), :length => 400, :omission => '...'))
    .clear{:style => "clear:both;"}
