#current_content_wrapper
  #year_title
    %h1.current_year= "#{t("event.in", :year => @events_year)}"
    .year_selector= select_year(Date.today, :start_year => 2010, :end_year => 2019)
    .clear
  - if @events_by_month.length == 0
    .month_of_events= t("event.none")
  - else
    - @events_by_month.each do |monthname, events|
      .month_of_events= monthname
      .clear
      %ul.events_list
        - events.each do |event|
          %li
            = link_to event.title, main_app.event_path(event)
            .event_date
              - if !event.end_date
                = event.start_date
              - else
                = raw("#{event.start_date} ~ #{event.end_date}")
            .clear
.clear

:coffeescript
  $ ->
    select = $(".year_selector > select")
    select.val("#{@events_year}")
    select.change ->
      year = select.val()
      path = "#{main_app.events_year_path(111)}".replace("111", year)
      location.href = path
      
