#calendar
	:javascript
		fill_table("#{Date::MONTHNAMES[Time.now.month]}",31,2011)
	#calendar_today= "#{@wday} #{@today}"
	#calendar_events
		%ul
			- @events.each do |event|
				%li
					.event_title= link_to truncate(event.title, :length => 32, :omission => '...'), event_path(event)
			- if @events.size == 0
				%li= t("events.none")
