#calendar
  %table{:width => "100%"}
    %thead
      %tr
        %th{:width => 35}
          Mon
        %th{:width => 35}
          Tue
        %th{:width => 35}
          Wed
        %th{:width => 35}
          Thu
        %th{:width => 35}
          Fri
        %th{:width => 35}
          Sat
        %th{:width => 35}
          Sun
    %tbody
      %tr
        - @beginning_of_month = DateTime.new(2011, 10,1)
        - @end_of_month       = DateTime.new(2011, 10, -1)
        - (@beginning_of_month..@end_of_month).each do |d|
          - t = d.wday == 0 ? 6 : d.wday - 1
          - if d == @beginning_of_month
            - t.times do # offset beginning of calendar
              %td.offset
          - if t == 0 #restart the week
            </tr><tr>
          %td{:class => "tday #{d}" }= link_to "#{d.day}", events_of_day_path(d.year, d.month, d.day), :remote => true
  :javascript
    $(function(){
      $(".tday").click(function(){
        $("#event_for_day").slideDown(function(){
          $("#close_image").show();
        });
        $("#close_image").click(function(){
          $("#close_image").hide();
            $("#event_for_day").slideUp();
        });
      });
    });
  #calendar_today= "#{@wday} #{@today}"
