#home_wrapper
  #slide_pictures
    
  %ul
    %li.latest_posts
      .home_item_title= t("blog.latest")
      .home_item_content
        %ul
          %li= link_to "A test post", "#"
          %li= link_to "A test post", "#"
          %li= link_to "A test post", "#"
          %li= link_to "A test post", "#"
          %li= link_to "A test post", "#"
          %li= link_to "A test post", "#"
          %li= link_to "A test post", "#"
      .home_item_more
    %li.latest_events
      .home_item_title= t("event.latest")
    .clear
