#account
  %ul
    - if current_user
      - if current_user.is_admin?
        %li.user
          = link_to image_tag("gear.png"), admin.dashboard_path, :title => t("management")
          %ul.user_links
            %li.user_sign_out= link_to image_tag("exit.png"), main_app.destroy_user_session_path, :method => :delete, :title => t("signout")
      - else
        %li.user
          = link_to image_tag("exit.png"), main_app.destroy_user_session_path, :method => :delete, :title => t("signout")

    - else
      %li.user= link_to image_tag("gear.png"), main_app.new_user_session_path, {:title => t("signin")}
    %li.locale
      = link_to_switch_locale(current_locale)
      %ul.locales
        - $available_locales.map do |locale|
          - if !locale.eql?(current_locale.to_s)
            %li.alocale= link_to_switch_locale(locale)
    %li.search= link_to image_tag("search.png"), main_app.search_path, {:title => t("search.title")}

:coffeescript
  items = [{key:".locale", value:".locales"}, {key:".user", value:".user_links"}]

  item_hover = (item) ->
    $(item.key).hover(
      -> $(item.value).slideDown("fast")
      ,
      -> $(item.value).slideUp("fast")
    )

  item_hover(item) for item in items

