- if signed_in?
  %span= link_to t("logout"), iauth.logout_path
  %span= raw "|"
  %span= link_to t("users.account.title"), main_app.user_oper_path(current_user, :informations)
  - if current_user.role.name == "administrators"
    %span= raw "|"
    %span= link_to t("administration"), iadmin.root_path
  - if current_user.role.name == "officer"
    %span= raw "|"
    %span= link_to t("officer.management.title"), main_app.managements_path
- else
  %span= link_to t("signup"), iauth.signup_path
  %span= raw "|"
  %span= link_to t("login"), iauth.login_path
.clear
