- if signed_in?
  %span= link_to "Logout", iauth.logout_path
  %span= raw "|"
  %span= link_to "User Account", main_app.user_path(current_user)
  %span= raw "|"
  %span= link_to "Administration", iadmin.root_path
- else
  %span= link_to "Sign up", iauth.signup_path
  %span= raw "|"
  %span= link_to "Login", iauth.login_path
.clear
