#global_search
  = text_field :search_key, :size => 30
  = image_tag("icons/search128.png")
  .clear
#local_switch
  %ul
    %li= link_to image_tag("flags/fr.png"), ""
    %li= link_to image_tag("flags/zh.png"), ""
    %li= link_to image_tag("flags/en.png"), ""
#head_nav
  %ul
    %li= link_to t("home.title"), main_app.root_path
    %li= link_to t("event.title"), main_app.events_path
    %li= link_to t("blog.title"), main_app.posts_path
    - if @pages
      - for page in @pages
        %li= link_to page.title, main_app.page_path(page.permalink)
.clear