#global_search
  = form_tag search_path, :method => :get do
    %p= text_field_tag :search, params[:search], :size => 30

  = image_tag("icons/search128.png")
  .clear
#local_switch
  %ul
    %li= link_to_switch_locale("fr")
    %li= link_to_switch_locale("zh_cn")
#head_nav
  %ul
    %li= link_to t("home.title"), main_app.root_path
    %li= link_to t("blog.title"), main_app.posts_path
    - if @categories_top
      - @categories_top.each do |category|
        %li= link_to category.title, main_app.posts_with_category_path(category)
    - if @pages
      - @pages.each do |page|
        - if page.is_on_top
          %li= link_to page.title, main_app.page_path(page.permalink)
.clear
