#home_link= link_to image_tag("xue.png", :height => 29), main_app.root_path
#head_nav
  %ul
    %li= link_to t("event.title"), main_app.events_path
    %li= link_to t("blog.title"), main_app.posts_path
    - if @categories_top
      - @categories_top.each do |category|
        %li= link_to category.title, main_app.posts_with_category_path(category)
    - if @pages
      - @pages.each do |page|
        %li= link_to page.title, main_app.page_path(page.permalink)

