- cache "header_#{I18n.locale}_#{Time.now.utc.in_time_zone("Beijing").strftime("%Y%m%d")}" do 
  #home_link= link_to image_tag("xue.png", :height => 29), main_app.root_path, {:title => t("home.title")}
  #head_nav
    %ul
      %li= link_to t("event.title"), main_app.events_path
      %li= link_to t("blog.title"), main_app.posts_path
      - if categories_top
        - categories_top.each do |category|
          %li= link_to category.title, main_app.posts_with_category_path(category)
      - else
        %li no cat
      - if top_pages
        - top_pages.each do |page|
          %li= link_to page.title, main_app.page_path(page.permalink)
