%ul
  - @comments.each_with_index do |comment, index|
    %li{:id => "comment#{@comments_size - index - 1}"}
      .index= (@comments_size - index)
      .comment_content= comment.content
      .date
        = comment.user.email.split("@").first
        &nbsp;|&nbsp;
        = comment.created_at.strftime("%d/%b/%Y")
        - if can? :manage, comment
          = raw "&nbsp;"
          = link_to image_tag("icons/delete.png"), admin.destroy_path(:comment, comment), :confirm => "Are you sure?", :method => :delete
      .clear
