#current_content_wrapper
  .home_item_title
    - if @category
      %h1#category_title= @category.title
      .category_description= @category.description
    - else
      %h1#category_title= t("blog.title")
  .post_locale_switcher
    =link_to image_tag("flags/zh_cn.png"), "#{main_app.posts_path}?post_locale=zh_cn"
    =link_to image_tag("flags/fr.png"), "#{main_app.posts_path}?post_locale=fr"
  .clear
  = render "site/posts_list"
  = paginate @posts
