#current_content_wrapper
  .home_item_title
    - if @category
      %h1#category_title= @category.title
      .category_description= @category.description
    - else
      %h1#category_title= t("blog.title")
  = render "site/posts_list"
  = paginate @posts
