!!! 5
%html
  %head
    %title Ouranos
    = stylesheet_link_tag     "printSetup", :media => "screen"
    = stylesheet_link_tag     "print", :media => "print"
    = javascript_include_tag  "print"
    = csrf_meta_tags
  %body
    #body_wrapper
      #print_header
        = image_tag("icons/printer_32.png", :width => 32, :height => 32, :id => "print", :title => t("print.print"))
        = image_tag("icons/pdf_32.png", :width => 32, :height => 32, :id => "pdf", :title => t("print.pdf"))
      #print_content
        #print_for_copyright= raw "Copyright &nbsp;&nbsp; APE"
        #print_for_title= @post.title
        #print_for_content= raw @post.content
      #footer
