=render "sidebar"
#current_content
  #post_wrapper
    #post_title= @post.title
    #post_author_date
      = @post.user.nickname.capitalize!
      = raw "&nbsp;|&nbsp;" 
      = @post.created_at
    #post_content= raw @post.content
    #post_printer
      = image_tag("icons/printer.png", :width => 24, :height => 24, :title => t("print.print"), :class => "print_icon")
      = image_tag("icons/pdf.png", :width => 24, :height => 24,:title => t("print.pdf"), :class => "print_icon")

  - if flash.alert
    .form_errors
      %ul
        - flash.alert.full_messages.each do |msg|
          %li= msg

  #add_comment= render "comments/form"
  
  - if current_user.is_of_role?(:guests)
    #alert_for_guest
      .alert_message= t("alert.guest.comment")
      #alert_links
        %span= link_to t("alert.signup"), iauth.signup_path
        %span= raw "|"
        %span= link_to t("alert.login"), iauth.login_path
      
  - if current_user.is_of_role?(:users)
    #alert_for_user
      .alert_message= raw t("alert.user.comment")
  #comment_list= render "comment_list"
  
:javascript
  $(function(){
  
    function is_guest(){
      if("#{current_user.is_of_role?(:guests)}" == "true"){ return true; }
      return false;
    }
  
    function show_guest_alert(){
      $("form").slideUp("slow", function(){ $("#alert_for_guest").slideDown("slow"); });
      if($("#alert_for_guest").css("display") == "block"){
        $("#alert_for_guest").fadeOut("slow", function(){ $(this).fadeIn(); });
      }
      return false;
    }
    
    if(is_guest()){
      $("textarea").mousedown(show_guest_alert);
      $("form").submit(show_guest_alert);
    }

    $(".print_icon").click(function(){
      if(is_guest()){ show_guest_alert(); return;}
      var w = 1020;
      var left = (screen.width/2)-(w/2);
      var printwindow = window.open ("#{main_app.post_print_path(@post)}", "print",
        "status=no, location=no, menubar=no, toolbar=no, scrollbars=yes, width=1020, height=800");
      printwindow.moveTo(left, 0);
      printwindow.focus();
    });
    
    if("#{@has_unvalid_commented}" == "true"){
      $("form").slideUp("slow", function(){ $("#alert_for_user").slideDown("slow"); }); 
    }
    
    if("#{flash.alert}" != "nil"){
      $(".form_errors").slideDown("slow"); 
    }
    
  });
