=render "sidebar"
#current_content
  #post_wrapper
    #post_title= @post.title
    #post_author_date
      = @post.user.nickname.capitalize!
      = raw "&nbsp;|&nbsp;" 
      = @post.created_at
    #post_content= raw @post.content
    #post_printer
      = link_to image_tag("icons/printer.png", :width => 24, :height => 24, :title => t("print.print")), post_print_path(@post)
      = link_to image_tag("icons/pdf.png", :width => 24, :height => 24,:title => t("print.pdf")), post_print_path(@post)
  #add_comment= render "comments/form"
  #comment_list= render "comment_list"
:javascript
  $(function(){
    if("#{flash[:notice]}".length > 0){
      goToByScroll("comment#{@comments_size - 1}");
    }
  })
