=render "sidebar"
#current_content
  #post_wrapper
    #post_title= @post.title
    #post_author_date
      = @post.user.nickname.capitalize!
      = raw "&nbsp;|&nbsp;" 
      = @post.created_at
    #post_content= raw @post.content
  #add_comment
    = semantic_form_for @comment, :url => main_app.polymorphic_path(@comment) do |form|
      = form.input :post_id , :as => :hidden
      = form.input :content, :input_html => {:rows => 10, :cols =>50}
      = form.submit
  #comment_list
    %ul
      - @comments.each_with_index do |comment, index|
        %li
          .index= (@comments_size - index - 1)
          .comment_content= raw comment.content
          .date= comment.created_at
          .clear
