#current_content_wrapper
  #post_wrapper
    #post_title= @post.title
    #post_author_date
      = raw(@post.user.firstname)
      = raw "&nbsp;|&nbsp;" 
      = @post.created_at
    - if can? :manage, @post
      #post_opers
        = link_to image_tag("icons/edit.png"), admin.edit_path(:post, @post.id)
        = raw "&nbsp;"
        = link_to image_tag("icons/delete.png"), admin.destroy_path(:post, @post.id), :confirm => "Are you sure?", :method => :delete
    .clear
    #post_content= raw @post.content
    #post_printer
      = image_tag("icons/printer.png", :width => 24, :height => 24, :title => t("print.print"), :class => "print_icon")
      = image_tag("icons/pdf.png", :width => 24, :height => 24,:title => t("print.pdf"), :class => "print_icon")

  - if flash.alert
    .form_errors
      %ul
        - flash.alert.full_messages.each do |msg|
          %li= msg
  #add_comment= render "comments/form"
  #comment_list= render "comment_list"
  
:javascript
  $(function(){
  
    $(".print_icon").click(function(){
      var w = 1020;
      var left = (screen.width/2)-(w/2);
      var printwindow = window.open ("#{main_app.post_print_path(@post.id)}", "print",
        "status=no, location=no, menubar=no, toolbar=no, scrollbars=yes, width=1020, height=800");
      printwindow.moveTo(left, 0);
      printwindow.focus();
    });
    
    if("#{flash.alert}" != "nil"){
      $(".form_errors").slideDown("slow"); 
    }
    
  });
