%tr
  %td{:style => "padding:5px;"}
    %h3{:style => "margin:5px 0px; font-size:18px; font-weight:bold; background:#888888; padding:10px;"} Latest events
    .powered_by{:style => "float:right; padding:5px;"}
      #powered_by_text{:style => "position:relative; margin:22px 10px 0px 0px; float:left; font-size:14px; font-weight:bold;"} 
        = link_to "This newsletter is powered by", "http://www.secondbureau.com"
      = link_to image_tag("https://www.google.com/a/secondbureau.com/images/logo.gif", :style => "border:none;", :width => 143, :height => 59), "http://www.secondbureau.com"
- @events.each do |event|
  %tr
    %td{:style => "padding:0px 20px 20px 20px;"}
      .post_title{:style => "font-size:14px; font-weight:bold; margin-bottom:8px;"}
        = link_to event.title, url_for(:controller => "events", :action => "show", :id => event.id, :locale => "en", :only_path => false)
        %span{:style => "float:right; font-weight:bold; font-size:12px; font-style:italic; color:#000000; margin-top:8px;"}
          - if !event.end_date
            = event.created_at
          - else
            = "#{event.start_date} ~ #{event.end_date}"
      .clear{:style => "clear:both;"}
      .post_content{:style => "font-size:12px; line-height:20px;"}
        = image_tag("https://www.google.com/a/secondbureau.com/images/logo.gif", :width => 150, :style => "float:left; margin:0px 10px 10px 0px;")
        = event.content
      .clear{:style => "clear:both;"}