= render "sidebar"
#current_content
  #subscribe{:style => "display:#{@display}"}
    #subscribe_title
      %h2= t("subscribe.description.title")
    #subscribe_content= render "form"
    #subscribe_results{:style => "display:#{@display}"}
      %h2= t("subscribe.results.title")
  - if !user_signed_in?
    #nonymous_user
      %h2= t("subscribe.inputemail")
      %p
        = email_field_tag :email
        = submit_tag t("ok"), :id => "ok_button"
      %h2= t("subscribe.recommend")
      #recommend_links
        %span= link_to t("signup"), new_user_registration_path
        %span= raw "|"
        %span= link_to t("signin"), new_user_session_path
.clear
:javascript
  $(function(){
  
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  
    $("#ok_button").click(function(){
      var emailaddressVal = $("input[name='email']").val();
      if(emailaddressVal == '') {
        alert("please input your email address!");
        return;
      }else if(!emailReg.test(emailaddressVal)) {
        alert("please input a valid email address!");
        return;
      }
      $("#nonymous_user").slideUp("fast", function(){
        $("#subscribe").slideDown("slow");
      });
    });
    
    $("#subscribe_button").click(function(){
      
    });
  
  });
