!!!
%html
  %head
    -# Facebook sharing information tags
    - unless @setting.nil?
      %meta{'property' => 'og:title', :content => @setting.site_name}
      %title= @setting.site_name
    -#= render 'layouts/mailer/styles'

  %body{:leftmargin => "0", :marginwidth => "0", :topmargin => "0", :marginheight => "0", :offset => "0"}
    %center
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%", :id => "backgroundTable"}
        %tr
          %td{:align => "center", :valign => "top"}
            -# Begin Template Preheader
            %table{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "600", :id => "templatePreheader"}
              %tr
                %td.preheaderContent{:valign => "top"}

                  -# Begin Module: Standard Preheader
                  %table{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "100%"}
                    %tr
                      %td{:valign => "top"}
                        #std_preheader_content{'sb:edit' => 'std_preheader_content'}
                          Use this area to offer a short teaser of your email's content. Text here will show in the preview area of some email clients.

                      - unless @is_archive_page
                        %td{:valign => "top", :width => 190}
                          #std_preheader_links{'sb:edit' => 'std_preheader_links'}
                            Is this email not displaying correctly?
                            = link_to 'View it in your browser.', '#'

            -# Begin Template Container
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :id => "templateContainer"}
              %tr
                %td{:align => "center", :valign => "top"}

                  -#Begin Template Header
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :id => "templateHeader"}
                    %tr
                      %td.headerContent

                        -# Begin Module: Standard Header Image
                        = image_tag "http://gallery.mailchimp.com/653153ae841fd11de66ad181a/images/placeholder_600.gif", :style => 'max-width:600px;', :id => "headerImage campaign-icon"


              %tr
                %td{:align => "center", :valign => "top"}

                  -#Begin Template Body
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600", :id => "templateBody"}
                    %tr
                      %td.bodyContent{:valign => "top"}

                        -# Begin Module: Standard Content
                        %table{:border => "0", :cellpadding => "20", :cellspacing => "0",  :width => "100%"}
                          %tr
                            %td{:valign => "top"}
                              #std_content00{'sb:edit' => 'std_content00'}
                                = yield

              %tr
                %td{:align => "center", :valign => "top"}

                  -# Begin Template Footer
                  %table{ :border => "0", :cellpadding => "10", :cellspacing => "0", :width => "600",  :id => "templateFooter"}
                    %tr
                      %td.footerContent{:valign => "top"}

                        -# Begin Module: Standard Footer
                        %table{ :border => "0", :cellpadding => "10", :cellspacing => "0",  :width => "100%"}
                          - if @twitter_url || @facebook_url || @forward_to_friend
                            %tr
                              %td{:colspan => 2, :valign => "middle", :id => "social"}
                                #std_social{'sb:edit' => 'std_social'}
                                  - if @twitter_url
                                    = link_to 'follow on Twitter', @twitter_url
                                    |
                                  - if @facebook_url
                                    = link_to 'friend on Facebook', @facebook_url
                                    |
                                  - if @forward_to_friend
                                    = link_to 'forward to a friend', @forward_to_friend

                          %tr
                            %td{:valign => "top", :width => "350"}
                              #std_footer{'sb:edit' => 'std_footer'}
                                %em
                                  Copyright &copy;
                                  = Time.now.year
                                  Association des Parents d'élèves du LFIP,
                                  Tous droits réservés.

                            %td{:valign => "top", :width => "190"}
                              #sbrewards{'sb:edit' => 'sbrewards'}
                                =link_to 'Second Bureau', 'http://secondbureau.com'               
