!!! 5
%html
  %head
    -# %title=Setting.local_value("title")
    %title Ouranos
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = csrf_meta_tags
    = yield :header
  %body
    #header_wrapper
      #account= render "site/account"
      -# for the site header
      #header= render "site/header"
      
    #body_wrapper
      .clear
      -# for the main content
      #notice= flash[:notice]
      :javascript
        $(function(){
          if("#{flash[:notice]}".length > 0){
            $("#notice").slideDown("slow");
          }else{
            $("#notice").css("display", "none");
          }
        });
      #content= yield
      .clear

      -# for the site footer
      #footer= render "site/footer"
