!!! 5
%html
  %head
    %title= @setting.site_name
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = csrf_meta_tags
    = yield :header
  %body
    #header_wrapper
      #header
        = render "site/header"
        = render "site/account"
        .clear
      
    #body_wrapper
      = render "site/notice_alert"
      #content
        = render "site/sidebar"
        = render "site/event_for_the_day"
        #current_content
          #site_image
          = yield
        .clear
        
    #footer_wrapper
      #footer= render "site/footer"
