!!! 5
%html
  %head
    %title Ouranos
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = csrf_meta_tags
    = yield :header
  %body
    #header_wrapper
      #account= render "site/account"
      -# for the site header
      #header= render "site/header"
      
    #body_wrapper
      #alert= flash[:alert]
      #notice= flash[:notice]
      :javascript
        $(function(){
          if("#{flash[:alert]}".length > 0){
            $("#alert").slideDown("slow");
          }
          if("#{flash[:notice]}".length > 0){
            $("#notice").slideDown("slow");
          }
        });
      #content
        = yield
        .clear
      #footer= render "site/footer"
