!!! 5
%html
  %head
    %title= setting.site_name
    = stylesheet_link_tag     "application"
    = javascript_include_tag  "application"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Quicksand:400,700'
    = csrf_meta_tags
    = render 'site/verification' if $google_site_verification
    = yield :header
    = render 'site/ga' if ::Rails.env.eql?('production')

  %body
    = render 'site/demo' unless ::Rails.env.eql?('production')

    #header_wrapper
      #header
        = render "site/header"
        = render "site/account"
        .clear
    #body_wrapper
      = render "site/notice_alert"
      #content
        = render "site/sidebar"
        = render "events/event_for_the_day"
        #current_content
          #site_image= image_tag(banner_image_url, :width => 620, :height => 190)
          = yield
        .clear

    #footer_wrapper
      #footer= render "site/footer"
