!!! 5
= render "/refinery/html_tag"

= render '/refinery/head'

%body

  -#= render 'site/demo' unless ::Rails.env.eql?('production')
  
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        = render "site/header"
      
  .container
    .content
      .row
        .span3.hidden-phone
          = render "site/sidebar"
        .span9.light-grey.shadow
          = bootstrap_flash
          #site_image= image_tag(banner_image_url, :width => 620, :height => 190)
          = yield
        

  %footer
    = render "site/footer"
      
  = render "/refinery/javascripts"
  
  :javascript
    if (!jQuery.browser.mobile) {
      $("#widgets").load("/widgets/master?s=home");
    };
    
