!!! 5
= render "/refinery/html_tag"

- content_for :meta do
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0" }
= render '/refinery/head'

%body

  = render 'site/demo' unless ::Rails.env.eql?('production')
  
  = render 'site/expired' if current_refinery_user && current_refinery_user.expired?
  
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        = render "site/header"
      
  .container
    .content
      .row
        .span4
          .hidden-phone
            = render "site/sidebar"
          .visible-phone
            %center
              = link_to image_tag("APE-LOGO.png"), refinery.root_path, {:title => t("home.title")}
        .span8.light-grey.shadow
          = bootstrap_flash
          #site_image.hidden-phone= image_tag(banner_image_url, :width => 620, :height => 190) 
          = yield
        

  %footer
    = render "site/footer"
      
  = render "/refinery/javascripts"
  
  :javascript
    if (!jQuery.browser.mobile) {
      $("#widgets").load("/widgets/master?s=home");
    };
    
