!!! 5
= render "/refinery/html_tag"

- site_bar = render('/refinery/site_bar')

= render '/refinery/head'


%body{:id => browser_title}

  = site_bar
  
  = render 'site/demo' unless ::Rails.env.eql?('production')

  #header_wrapper
    #header
      = render "site/header"
      .clear
  #body_wrapper
    = render "site/notice_alert"
    #content
      = render "site/sidebar"
      #current_content
        #site_image= image_tag(banner_image_url, :width => 620, :height => 190)
        = yield
      .clear

  #footer_wrapper
    #footer
      = render "site/footer"
      
  = render "/refinery/javascripts"
