!!! 5
%html
  %head
    %title= setting.site_name
    = stylesheet_link_tag     "application", "sign"
    = javascript_include_tag  "sign"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Quicksand:400,700'
    = csrf_meta_tags
    = render 'site/verification' if $google_site_verification
    = yield :header

  %body
    = render 'site/demo' unless ::Rails.env.eql?('production')

    #header_wrapper
      #header
        = render "site/header"
        = render "site/account"
        .clear
    
    #sign_box_wrapper  
      #alert= flash[:alert]
      #notice= flash[:notice]
      :coffeescript
        $ ->
          if "#{flash[:alert]}".length > 0
            $("#alert").slideDown("slow")
          if "#{flash[:notice]}".length > 0
            $("#notice").slideDown("down")
      #sign_box= yield
    

    #footer_wrapper
      #footer= render "site/footer"

    = render 'site/ga' if ::Rails.env.eql?('production')