!!!
%html
  %head
    %title Sign
    = stylesheet_link_tag       "sign"
    = javascript_include_tag    "sign"
    = csrf_meta_tags
  %body
    #header
      %h1= link_to "APE", main_app.root_path
    #sign_box_wrapper  
      #alert= flash[:alert]
      #notice= flash[:notice]
      :coffeescript
        $ ->
          if "#{flash[:alert]}".length > 0
            $("#alert").slideDown("slow")
          if "#{flash[:notice]}".length > 0
            $("#notice").slideDown("down")
      #sign_box= yield
    #poweredby= image_tag("2buro.png")
