= render "sidebar"
#current_content
  #membership_confirming
    - if @has_send_confirm_email
      %h1= t("account.has_send_member_confirmation")
      %h1= t("account.please_check_email")
    - elsif @wana_be_member
      %h1= t("account.member")
      #member_desc
        = t("account.memberdesc")
        %br/
        = t("account.memberdesc_getemail")
      #member_link= link_to t("account.bemember"), main_app.member_confirming_path
    - else
      %h1= t("account.alreadymember")
.clear
