=render "sidebar"
#current_content
  #management_wrapper
    %ul
      %li
        .manage_title= t("management.user.title")
        .manage_content
          .item_show
            %span.item_label= t("management.user.count")
            %span.item_info= @user_count
          .item_show
            %span.item_label= t("management.member.count")
            %span.item_info= @member_count
          .item_show
            %span.item_label= t("management.user.count")
            %span.item_info= @user_count
          .clear
      %li
        .manage_title= t("management.post.title")
        .manage_content
      %li
        .manage_title= t("management.survey.title")
        .manage_content
.clear